<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zy.code.demo.dao.ExecutionInfoResultMapper">
  <resultMap id="BaseResultMap" type="zy.code.demo.api.po.ExecutionInfoResult">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="inst_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="tool_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="inst_tool_input_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="tool_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="param" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cmd" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="executor" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="api" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="result" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, inst_id, tool_id, inst_tool_input_id, tool_name, param, cmd, executor, api, result, 
    time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stoploss_execution_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from stoploss_execution_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="zy.code.demo.api.po.ExecutionInfoResult">
    insert into stoploss_execution_info (id, inst_id, tool_id, 
      inst_tool_input_id, tool_name, param, 
      cmd, executor, api, 
      result, time)
    values (#{id,jdbcType=BIGINT}, #{instId,jdbcType=BIGINT}, #{toolId,jdbcType=BIGINT}, 
      #{instToolInputId,jdbcType=BIGINT}, #{toolName,jdbcType=VARCHAR}, #{param,jdbcType=VARCHAR}, 
      #{cmd,jdbcType=VARCHAR}, #{executor,jdbcType=VARCHAR}, #{api,jdbcType=VARCHAR}, 
      #{result,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="zy.code.demo.api.po.ExecutionInfoResult">
    insert into stoploss_execution_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="instId != null">
        inst_id,
      </if>
      <if test="toolId != null">
        tool_id,
      </if>
      <if test="instToolInputId != null">
        inst_tool_input_id,
      </if>
      <if test="toolName != null">
        tool_name,
      </if>
      <if test="param != null">
        param,
      </if>
      <if test="cmd != null">
        cmd,
      </if>
      <if test="executor != null">
        executor,
      </if>
      <if test="api != null">
        api,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="instId != null">
        #{instId,jdbcType=BIGINT},
      </if>
      <if test="toolId != null">
        #{toolId,jdbcType=BIGINT},
      </if>
      <if test="instToolInputId != null">
        #{instToolInputId,jdbcType=BIGINT},
      </if>
      <if test="toolName != null">
        #{toolName,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
        #{param,jdbcType=VARCHAR},
      </if>
      <if test="cmd != null">
        #{cmd,jdbcType=VARCHAR},
      </if>
      <if test="executor != null">
        #{executor,jdbcType=VARCHAR},
      </if>
      <if test="api != null">
        #{api,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zy.code.demo.api.po.ExecutionInfoResult">
    update stoploss_execution_info
    <set>
      <if test="instId != null">
        inst_id = #{instId,jdbcType=BIGINT},
      </if>
      <if test="toolId != null">
        tool_id = #{toolId,jdbcType=BIGINT},
      </if>
      <if test="instToolInputId != null">
        inst_tool_input_id = #{instToolInputId,jdbcType=BIGINT},
      </if>
      <if test="toolName != null">
        tool_name = #{toolName,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
        param = #{param,jdbcType=VARCHAR},
      </if>
      <if test="cmd != null">
        cmd = #{cmd,jdbcType=VARCHAR},
      </if>
      <if test="executor != null">
        executor = #{executor,jdbcType=VARCHAR},
      </if>
      <if test="api != null">
        api = #{api,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="zy.code.demo.api.po.ExecutionInfoResult">
    update stoploss_execution_info
    set inst_id = #{instId,jdbcType=BIGINT},
      tool_id = #{toolId,jdbcType=BIGINT},
      inst_tool_input_id = #{instToolInputId,jdbcType=BIGINT},
      tool_name = #{toolName,jdbcType=VARCHAR},
      param = #{param,jdbcType=VARCHAR},
      cmd = #{cmd,jdbcType=VARCHAR},
      executor = #{executor,jdbcType=VARCHAR},
      api = #{api,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>